@charset "UTF-8";

body {
    background-color:#aaaaaa;
    text-align: center;
    font-size: 1.2em;
    font-family: Comic Sans MS, cursive, sans-serif;
}

html {
  background-color: #aaaaaa;
}

canvas {
  border-color: red;
  border-width: 2px;
  margin: 0 auto;
}

p {
  max-width: 1800px;
}

